- name: Install dependencies
    run: |
        cd backend
        composer install --no-progress --prefer-dist

- name: Copy .env
    run: |
        cd backend 
        cp .env.example .env

- name: Generate key
    run: |
        cd backend 
        php artisan key:generate

- name: Run tests
    run: |
        cd backend
        php artisan test
        
    